.page-enter-active,
.page-leave-active {
  @apply transition-opacity duration-500;
}
.page-enter, .page-leave-to {
  @apply opacity-0;
}

@responsive {
  .bg-image-none {
    background-image: none;
  }
}

.text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scrollbar-w-3 {
  &::-webkit-scrollbar {
    @apply w-3 hidden !important;
  }

  &:hover::-webkit-scrollbar {
    @apply block !important;
  }
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  @apply rounded !important;
}
.scrollbar-thumb-gray::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.1)!important;
}
.scrollbar-track-gray-lighter::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0.1)!important;
}
