.bg-gradient-maizzle {
  background: url('/images/escheresque.png'), linear-gradient(-90deg, #5f54f1 0%, #4398ee 100%);
}

.page-enter-active,
.page-leave-active {
  @apply transition-opacity duration-500;
}
.page-enter, .page-leave-to {
  @apply opacity-0;
}

@responsive {
  .bg-image-none {
    background-image: none;
  }
}

.feature-link {
  @apply bg-white block p-4 border-l-2 border-gradient-b-ocean-light rounded-sm text-sm font-bold transition-shadow duration-300;

  &:hover {
    @apply shadow-lg-soft;
  }
}

.feature-text {
  @apply font-normal block mt-2 text-gray-600;
}

.text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
