@import url('https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css');

input[type="search"] {
  &::-webkit-search-cancel-button {
    @apply hidden;
  }
}

.algolia-autocomplete {
  @apply w-full h-full;

  .ds-dropdown-menu {
    @apply w-full min-w-full max-w-full shadow-lg-soft !important;
    top: 70% !important;

    &::before,
    [class^=ds-dataset-] {
      @apply border-gray-300 !important;
    }

    .algolia-docsearch-suggestion--highlight {
      @apply shadow-none border-b-2 border-gradient-r-ocean-light !important;
    }

    .algolia-docsearch-suggestion--subcategory-column:after {
      @apply pr-1;
    }

    .ds-suggestion {
      @apply text-sm py-1;
    }

    .ds-suggestions a {
      @apply no-underline;
    }
  }
}

/*! purgecss start ignore */
#search-mobile ~ .ds-dropdown-menu {
  left: -30px !important;
  top: 100% !important;

  &::before {
    @apply left-8;
  }
}
/*! purgecss end ignore */
